*.log
**/*.log
attic/*
vault/*
roles/**
facts/**
backup/**
tmp
cfg_ini
collections/**
.ansible_galaxy
host_logs
galaxy_cache
ansible_collections
inventory.json
additions_work/**
additions/users_cfg/*/*.yml
additions/seagate_seachest/bin/**

